# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# References
*.ebnf
*.asm
*.bf

.vscode/

.DS_Store

# Binaries
bin/

# Some test programs
*.bf
*.b
!/interpreter/bench/*.bf
!/interpreter/bench/*.b